%h1 Editing: #{@page.name}
= form_for @page do |f|
  = f.text_area :content
  %br
  = f.label :committer, "Who made this change?"
  = f.text_field :committer
  %br
  = f.submit 'update'

= link_to 'Back', pages_path
