= form_for @page do |f|
  - if @page.errors.any?
    %ul
    - @page.errors.full_messages.each do |e|
      %li= e

  %p
    = f.label :basename, 'File Name'
    %br
    = f.text_field :basename

  %p
    = f.label :content
    %br
    = f.text_area :content

  %p
    = f.label :committer, 'Who made this change?'
    %br
    = f.text_field :committer

  %p
    =f.submit
